{:paths ["src/main/clj"]
 :deps  {reagent/reagent                        {:mvn/version "1.1.0"}
         garden/garden                          {:mvn/version "1.3.10"}}

 :aliases {:repl {:extra-paths ["src/repl/clj"]
                  :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
           :test {:extra-paths ["src/test/clj"]
                  :extra-deps  {io.github.davesann/test-helpers       {:git/sha "c4e375c" :git/tag "v3"}
                                io.github.pjstadig/humane-test-output {:git/sha "063ee9f" :git/tag "0.11.0"}}}}}
